%h4.title アカウント編集
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .form-group
    = f.label :名前
    %br/
    = f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control'
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
  .form-group
    = f.label :objective
    = f.text_area :objective, autofocus: true, class: 'form-content'
  .form-group
    = f.label :avatar
    %br/
    = f.file_field :avatar, class: 'form-control'
  .form-group.row.justify-content-center
    = f.submit t('.update'), class: 'center-btn'
