= form_with(model: @article, url: articles_path, method: 'post', local: true) do |f| 
  %div 
    = f.label :name, '種目'
  %div 
    = f.collection_select :name, current_user.trainings.all, :name, :name, {prompt: ""}, class: 'form-control'  
  %div
    = f.label :body, '内容'
  %div
    = f.text_area :body
  %div 
    = f.label :day, '日付'
  %div 
    = f.date_field :day, class: 'form-control', value: Time.zone.now.strftime("%Y-%m-%d")
  %div 
    = f.label :minutes, '時間'
  %div 
    = f.number_field :minutes, min: "0", class: 'form-control', required: true
    = f.submit '保存'

