- unless current_user == user
  - if current_user.following?(user)
    = form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }, remote: true) do |f|
      = f.hidden_field :follow_id, value: user.id
      = f.submit 'フォロー中', class: 'follows'
  - else
    = form_for(current_user.relationships.build, remote: true) do |f|
      = f.hidden_field :follow_id, value: user.id
      = f.submit 'フォロー', class: 'follows'
.profile_relation
  .profile_follow
    = link_to "フォロー：", followings_user_path(@user)
    %span #{@user.followings.count}人
  .profile_follower
    = link_to "フォロワー：", followers_user_path(@user)
    %span #{@user.followers.count}人