- if user_signed_in?
  - if current_user.has_liked?(@article)
    .article_heart
      = button_to article_path(article.id), method: 'delete', remote: true do
        = image_tag 'heart-active.svg'
        %span= @article.like_count
  - else
    .article_heart
      = link_to article_path(article.id), data: { method: 'post' }, remote: true do
        = image_tag 'heart.svg'
        %span= @article.like_count