.other-profile-card
  .other-profile-card__inner
    .profile-thumb
      - if @user.avatar.attached?
        = image_tag @user.avatar,class: 'logo'
      -else 
        = image_tag 'default.png', class: 'logo'
    .profile-content
      .profile-name 
        = @user.name 
        = render 'relationships/follow_button', user: @user
      .profile-relation
        .profile-follow
          = link_to "フォロー", followings_user_path(@user)
          %span #{@user.followings.count}人
        .profile-follower
          = link_to "フォロワー", followers_user_path(@user)
          %span #{@user.followers.count}人
      .profile-level
        = @user.level
      .profile-obvective 
        %p 目標： #{@user.objective}