.profile_card
  .profile_card__inner
    .profile_thumb
      - if @user.avatar.attached?
        = image_tag @user.avatar,class: 'logo'
      -else 
        = image_tag 'default.png', class: 'logo'
    .profile_content
      .profile_name 
        = @user.name 
      %div{class: "mypage-follow-contents-#{@user.id}"}
        = render 'relationships/relationship', user: @user
      .profile_level
        = @user.level
      .profile_obvective 
        %p 目標： #{@user.objective}